
<h1>{{$parent.settings.pageTitle}}</h1>

<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>
        
<div class="required-field-block">
    <input type="text" placeholder="Author" ng-model="video.author" class="form-control">
    <div class="required-icon">
        <div class="text">*</div>
    </div>
</div>
<div class="required-field-block">
    <input type="text" placeholder="Titulo" ng-model="video.title" class="form-control">
    <div class="required-icon">
        <div class="text">*</div>
    </div>
</div>

<div class="required-field-block">
    <textarea rows="6" class="form-control" ng-model="video.summary"  placeholder="Sumario"></textarea>
    <div class="required-icon">
        <div class="text">*</div>
    </div>
</div>

<button class="btn btn-primary" ng-click="submit($parent.video)">{{$parent.settings.action}}</button>
